*.gem
*.sublime-*
*.sw?
.DS_Store
.idea/
.rspec_status
.ruby-version
/.byebug_history
/.yardoc/
/gemfiles/.bundle/
/sidekiq/
coverage/
Gemfile.lock
gemfiles/*.lock
myapp/spec/examples.txt
tmp/

/OLD_README.md

/Gemfile.local
/gemfiles/vendor/
/vendor/
/myapp/vendor/bundle/
/.bundle/
/myapp/node_modules/
/myapp/yarn-error.log
