*.gem
*.sublime-*
*.sw?
.DS_Store
.idea/
.rspec_status
.ruby-version
/.byebug_history
/.yardoc/
/doc*/
/gemfiles/.bundle/
/sidekiq/
coverage/
Gemfile.lock
gemfiles/*.lock
rails_example/spec/examples.txt
tmp/
