--no-private
--markup-provider=redcarpet
--markup=markdown
--exclude lib/sidekiq_unique_jobs/testing.rb
--exclude lib/sidekiq_unique_jobs/web/helpers.rb
--readme README.md
--files CHANGELOG.md,LICENSE.txt
lib/sidekiq_unique_jobs/**/*.rb
