name: RSpec
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  coverage:
    services:
      toxiproxy:
        image: ghcr.io/shopify/toxiproxy
        ports:
          - 8474:8474
          - 21212:21212
      redis:
        image: redis:latest
        ports:
          - 6379:6379

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler: 2.4.2
          bundler-cache: true

      - name: Install Code Climate reporter
        run: |
          sudo curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          sudo chmod +x ./cc-test-reporter
      - name: Generate Coverage
        env:
          CC_TEST_REPORTER_ID: 88e524e8f638efe690def7a6e2c72b1a9db5cdfa74548921b734d609a5858ee5
        run: |
          export GIT_BRANCH=${GITHUB_REF#refs/heads/}
          export GIT_COMMIT_SHA=${GITHUB_SHA}
          echo $GIT_BRANCH
          echo $GIT_COMMIT_SHA
          ./cc-test-reporter before-build
          COV=true bin/rspec --require spec_helper --tag ~perf
          ./cc-test-reporter after-build --coverage-input-type simplecov --exit-code $?

  tests:
    services:
      toxiproxy:
        image: ghcr.io/shopify/toxiproxy
        ports:
          - 8474:8474
          - 21212:21212
      redis:
        image: redis:latest
        ports:
          - 6379:6379

    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        ruby: [2.7, '3.0', 3.1, 3.2]

    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: 2.4.2
          bundler-cache: true
      - run: bin/appraisal install --jobs=$(nproc) --retry=$(nproc)
      - run: bin/appraisal rspec --require spec_helper --tag ~perf
